@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/index.css or src/styles/fonts.css */
@font-face {
    font-family: 'Bebas Neue';
    src: url('./assets/fonts/BebasNeue-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }

  /* src/styles/fonts.css or src/index.css */
@font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitExtraLight.ttf') format('truetype');
    font-weight: 200; /* Extra Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitLight1.ttf') format('truetype');
    font-weight: 300; /* Light */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitRegular.ttf') format('truetype');
    font-weight: 400; /* Regular */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitMedium.ttf') format('truetype');
    font-weight: 500; /* Medium */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitSemiBold.ttf') format('truetype');
    font-weight: 600; /* SemiBold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitBold.ttf') format('truetype');
    font-weight: 700; /* Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitExtraBold.ttf') format('truetype');
    font-weight: 800; /* Extra Bold */
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Outfit';
    src: url('./assets/fonts/OutfitBlack.ttf') format('truetype');
    font-weight: 900; /* Black */
    font-style: normal;
  }
  